.Header {
	text-align: center;
	min-height: 13rem;
	background-image: url('https://begindot.com/wp-content/uploads/2018/06/Cool-Tumblr-Background.jpeg');
}

.Count {
	width: 900px;
	height: 650px;
	display: inline-block;
}

img {
	width: 50px;
	height: 50px;
	margin: 3px;
	align-self: center;
}

button {
	text-align: center;
	color: white;
	font-weight: bold;
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
	background-image: url('https://begindot.com/wp-content/uploads/2018/06/Cool-Tumblr-Background.jpeg');
	border-radius: 12px;
	cursor: pointer;
	border: none;
}

.Nav {
	background-color: olive;
	display: flex;
	vertical-align: top;
	color: white;
	font-size: 20px;
}
  
.NavMenu {
	margin: 10px 10px;
	align-self: center;
}

.NavDropdown {
	position: absolute;
	right: 0;
	margin-right: 20px;
	align-self: center;
}

.Footer {
	background-color: black;
	color: white;
	text-align: right;
	padding: 5px;
    bottom: 0;
    width: 99%;
}
