#container{
	width: 800px;
	background-color: lightblue;
	padding-top: 30px;
}

#header {
	width: 800px;
	background-color: green;
	padding-top: 10px;
}

#content {
	width: 800px;
	background-color: orange;
	padding-top: 30px;
	padding-bottom: 30px;
	display: inline-block;
}

#main {
	width: 600px;
	background-color: blue;
	padding-top: 30px;
	margin-left: 7px;
	margin-right: 3px;
	float: left;
}

#nav {
	width: 180px;
	background-color: purple;
	margin-left: 3px;
	margin-right: 7px;
	float: right;
}

#form {
	width: 800px;
	background-color: gray;
	margin-top: 30px;
	padding-top: 10px;
}

#footer {
	width: 800px;
	background-color: black;
	margin-top: 30px;
	padding-top: 30px;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 50px;
	text-align: center;
}

h2 {
	font-famiy: 'Lato', sans-serif
}

img {
	float: right;
	clear: right;
}

iframe {
	float: right;
	clear: right;
}

p {
	font-family: 'Ubuntu', sans-serif;
}

tr {
	font-family: 'Ubuntu', sans-serif;
}

tr:nth-child(odd) {
	color: green;
}

tr:nth-child(even) {
	color: gray;
}

form {
	font-family: 'Ubuntu', sans-serif;
}

#footer > p, small {
	color: white;
	font-family: 'Ubuntu', sans-serif;
}
